ukprn/10007158	rdf	http://id.southampton.ac.uk/dataset/facilities/latest	University of Southampton	http://www.soton.ac.uk/	http://www.southampton.ac.uk/images/bg_logo_small.png	mailto:facshare@soton.ac.uk	mailto:facshare@soton.ac.uk
