
.download {
	margin-top: 1em;
	margin-bottom: 1em;
}
h1 { 
	margin-top:0px;
	border-bottom:1px;
	color: #333333;
	font-weight: 400;
}
h2 {
	margin-top: 0.3em;
	margin-bottom: 0.2em;
	padding:0px !important;
}
h3 {
	margin-top: 0.3em;
	margin-bottom: 0.2em;
	padding:0px;
}
h4 {
	margin-top: 0.2em;
	margin-bottom: 0.15em;
	padding:0px;
}
h5 {
	margin-top: 0.3em;
	margin-bottom: 0.15em;
	padding:0px;
	font-weight: bold;
}
#results {
	margin-top: 8px;
	font-size: 120%;
	max-height: 400px;
	overflow-y: auto;
}
#featured-result {
	height: 400px;
	overflow-y: auto;
}
#featured-result .description {
	margin-bottom: 1em;
}
#results .search-result { 
	border-bottom: solid 1px #333;
	background-color: #eeeeee;
	padding: 6px 8px 2px 8px;
	display: block;
	text-decoration: none;
}
#results .search-result:hover { 
	background-color: #dddddd;
}
/* on full width results */
.sixteen .search-result {
	text-align: right;
}
.sixteen .search-result .result-title { 
	float: left;
}
.sixteen .search-result .result-info { 
	font-size: 80%;
}
.eight .result-info {
	font-size: 80%;
	display: block;
}
	
.images { 
	float:right;
	clear:right;
}
.images img { 
	display: block; 
	margin-left: 10px;
	margin-right: 5px;
	margin-bottom: 10px;
}
dt { 
	font-weight: bold;
}
dd {
	margin-bottom: 0.5em;
}
ul.bullets li { 
	list-style: inside square;
}
ul.bullets ul { 
	font-size: 100%;
}

table.status {
	border-collapse: collapse;
	width:100%;
}
table.status th {
	background-color: #000;
	color: #fff;
	border: solid 1px #666;
	font-weight: bold;
	padding: 5px 3px;
	vertical-align:middle;
	text-align: center;
}
table.status td {
	padding: 5px 3px;
	border: solid 1px #000;
	vertical-align:middle;
	height: 25px;
	text-align: center;
}
table.status td img {
	max-width: 150px;
}
table.status td img.issue {
	vertical-align:-20%;
	margin-right: 2px;
}

table.status td span.issuebox {	
	cursor: pointer;
}

table.status td img.gong {
	max-width: 20px;
	vertical-align:-28%;

}

table.status td.none{
	border: none !important;
}


table.status .org_logo{
	margin: -1px;
	max-width: 90px;
	max-height: 35px;
}
i {
	font-style: italic;
}
body {
	min-height: 101%;
}
#logos img { 
	margin-right: 20px; 
	margin-bottom:20px; 
	max-height: 80px;
}
br {
	clear: none;
}


.ui-widget-content h5{
	padding:5px 0px 3px;
}


a.fileicon{
	background: url('/resources/images/fileicons/blank.png') no-repeat left center;
	font-weight: bold;
	padding: 2px 2px 2px 18px;
}

a.fileicon.csv{
	background-image: url('/resources/images/fileicons/csv.png');
}
a.fileicon.json{
	background-image: url('/resources/images/fileicons/json.png');
}
a.fileicon.rdf{
	background-image: url('/resources/images/fileicons/rdf.png');
}

/* Branding */

.jumbo {
	margin: 15px 0px; 
	background: #417CA5;
	color: white;
	border-top: 3px solid #193965;
	border-bottom: 3px solid #193965;
	width: 100%;
	line-height:0px;
}
.jumbo a,
.jumbo img {
	max-width: 100% !important;
}


.cycle-pager { 
    text-align: center !important; width: 100%; z-index: 500; position: absolute; bottom: 3px; overflow: hidden;
}
.cycle-pager span { 
    font-family: arial; font-size: 50px; width: 16px; height: 16px; 
    display: inline-block; color: #ddd; cursor: pointer; 

	line-height:16px;
}
.cycle-pager span.cycle-pager-active { color: #193965;}
.cycle-pager > * { cursor: pointer;}

.ui-front{
	z-index: 10000;
}

#searchbox{
	position: relative;
}
.search-div{
	border-radius: 10px;
	border: 1px solid #193965;
	padding: 8px;
	position: relative;
}

.search-div .search-title{
	font-weight: bold;
	display: inline-block;
	color:#193965;
	font-size:140%;
	padding: 4px;
	margin: 0px 6px !important;
}

.search-div .search-input {
	margin: 0px 3px 0px 0px;
	display: inline-block;
	padding: 4px;
	border: 1px solid #eee;
	font-size:130%;
	width: 60%;
	border-radius: 5px;
}

.search-div .search-button {
	border: 2px solid #193965;
	background: #193965;
	color: white;
	padding: 3px 6px;
	font-weight: normal;
	text-shadow: none;
	font-size:130%;
	margin:  0px;
}

.search-div .search-button:hover{
	border: 2px solid #193965;
	color: #193965;
	background: white;
}

.search-div .ui-widget{
	margin-top: 10px;
	text-align: center;
}
.search-div .ui-autocomplete-input{
	width: 80%;
	max-width: 40%;
	display: inline-block;
	border: 1px solid #eee !important;
	border-radius: 5px;
	
}

#results-container{
	width: 90%;
	margin:0px 3% 10px;
	padding: 0px 10px 10px;
	border: 1px solid #193965;
	border-top:none;
	border-radius: 0px 0px 10px 10px;
	z-index: 1000;
	position: absolute;
	background: white;


}
#results{
	border: 1px solid #eee;
}
#results-container .eight.columns{
	width: 45%;

}

.sidebox{
	border-radius: 5px;
	border: 1px solid #193965;
	padding: 5px;
	margin-bottom:10px;
}

.sidebox h3{
	margin-top: 0px;
}
.sidebox img{
	
	max-width: 100%;
}


.smallp{
	margin-bottom: 0.3em;
}
footer {
	padding: 10px 5px;
}
.datasets{
	text-align: center;
}
.datasets li{
	margin: 4px;
	display: inline-block;
}

.datasets li img {
	max-height: 40px;
	max-width: 150px;
}

@media only screen and (max-width: 767px) {
	#results-container .eight.columns,
	#featured-result{
		width: 100%;
	}
}

.code{
	overflow-x: scroll;
}