
.download {
	margin-top: 1em;
	margin-bottom: 1em;
}
h1 { 
	margin-top:0px;
	border-bottom:1px;
	color: #333333;
	font-weight: 400;
}
h2 {
	margin-top: 0.3em;
	margin-bottom: 0.2em;
	padding:0px !important;
}
h3 {
	margin-top: 0.3em;
	margin-bottom: 0.2em;
	padding:0px;
}
h4 {
	margin-top: 0.2em;
	margin-bottom: 0.15em;
	padding:0px;
}
h5 {
	margin-top: 0.3em;
	margin-bottom: 0.15em;
	padding:0px;
	font-weight: bold;
}

h2#subtitle{
	margin-top: -1.5em;
	margin-bottom: 1em;
}

h1 sup.beta{
	font-weight: bold;
	font-size: 50%;
	color:#193965;
	top:-1em;
}

#results {
	margin-top: 8px;
	font-size: 120%;
	max-height: 400px;
	overflow-y: auto;
}
#featured-result {
	height: 400px;
	overflow-y: auto;
}
#featured-result .description {
	margin-bottom: 1em;
}
#results .search-result { 
	border-bottom: solid 1px #333;
	background-color: #eeeeee;
	padding: 6px 8px 2px 8px;
	display: block;
	text-decoration: none;
}
#results .search-result:hover { 
	background-color: #dddddd;
}

.advsearch {
	text-align: left;
}

#adv_org_select {
	text-align: center;
	margin: 5px 0 0 0;
	font-size: 110%;
}

#adv_org_select label{
	width: auto;
	float: none;
	clear: none;
	display: inline-block;
	text-align: left;
	padding: 0;	
}

#adv_results .item {
	border-radius: 10px;
	border: 1px solid #193965;
	margin-bottom: 10px;
	padding:2px 8px;
}

#adv_results .item .advitemimage{
	margin:7px 0px 4px 4px;
	float:right;
	border-radius: 3px;
	border: 1px solid #aaa;
	text-align:center;

	padding: 2px;
	width:116px;
}

#adv_results .item div.advitemimage.img img{
	max-width: 115px;
	margin: auto;
	display:block;
}

#adv_results .item div.advitemimage.logo{

	width:100px;
	padding: 10px;
}

#adv_results .item div.advitemimage.logo img{
	max-width:95px;
	max-height: 80px;
	opacity: 0.4;
}


#adv_results .item .advitemlogo{
	max-height: 32px;
}

#adv_results .advpages{
	text-align:center;
}

#adv_results_sidebar label{
	display: inline !important;
	float: none;
	padding: 0px;
}

#qs-sort {
	background-repeat: no-repeat;
	background-position: 98% center;
	padding:2px;
}

.search-div .search-cancel{
	position: absolute;
	right: 5px;
	top: 5px;
	font-weight: bold;
	cursor:pointer;
	display:none;
}

#qs-overlay{
	background-color: rgba(100,100,100,0.8);
	height:100%;
	left:0;
	margin:0;
	padding:0;
	position:fixed;
	top:0;
	width:100%;
	z-index:998;
	display:none;
}

/* on full width results */
.sixteen .search-result {
	text-align: right;
}
.sixteen .search-result .result-title { 
	float: left;
}
.sixteen .search-result .result-info { 
	font-size: 80%;
}
.eight .result-info {
	font-size: 80%;
	display: block;
}
	
.images { 
	float:right;
	clear:right;
}
.images img { 
	display: block; 
	margin-left: 10px;
	margin-right: 5px;
	margin-bottom: 10px;
}
dt { 
	font-weight: bold;
}
dd {
	margin-bottom: 0.5em;
}
ul.bullets li { 
	list-style: inside square;
}
ul.bullets ul { 
	font-size: 100%;
}

table.status {
	border-collapse: collapse;
	width:100%;
}
table.status th {
	background-color: #000;
	color: #fff;
	border: solid 1px #666;
	font-weight: bold;
	padding: 5px 3px;
	vertical-align:middle;
	text-align: center;
}
table.status td {
	padding: 5px 3px;
	border: solid 1px #000;
	vertical-align:middle;
	height: 25px;
	text-align: center;
}
table.status td img {
	max-width: 150px;
}
table.status td img.issue {
	vertical-align:-20%;
	margin-right: 2px;
}

table.status td span.issuebox {	
	cursor: pointer;
}

table.status td img.gong {
	max-width: 20px;
	vertical-align:-28%;

}

table.status td.none{
	border: none !important;
}


table.status .org_logo{
	margin: -1px;
	max-width: 90px;
	max-height: 35px;
}
i {
	font-style: italic;
}
body {
	min-height: 101%;
}
#logos img { 
	margin-right: 20px; 
	margin-bottom:20px; 
	max-height: 80px;
}
br {
	clear: none;
}
.clear {
	clear: both;
}


.ui-widget-content h5{
	padding:5px 0px 3px;
}


a.fileicon{
	background: url('/resources/images/fileicons/blank.png') no-repeat left center;
	font-weight: bold;
	padding: 2px 2px 2px 18px;
}

a.fileicon.csv{
	background-image: url('/resources/images/fileicons/csv.png');
}
a.fileicon.json{
	background-image: url('/resources/images/fileicons/json.png');
}
a.fileicon.rdf{
	background-image: url('/resources/images/fileicons/rdf.png');
}

/* Branding */

.jumbo {
	margin: 15px 0px; 
	background: #417CA5;
	color: white;
	border-top: 3px solid #193965;
	border-bottom: 3px solid #193965;
	width: 100%;
	line-height:0px;
}
.jumbo a,
.jumbo img {
	max-width: 100% !important;
}


.cycle-pager { 
    text-align: center !important; width: 100%; z-index: 500; position: absolute; bottom: 3px; overflow: hidden;
}
.cycle-pager span { 
    font-family: arial; font-size: 50px; width: 16px; height: 16px; 
    display: inline-block; color: #ddd; cursor: pointer; 

	line-height:16px;
}
.cycle-pager span.cycle-pager-active { color: #193965;}
.cycle-pager > * { cursor: pointer;}
.cycle-slideshow a{
	display: none;
}
.ui-front{
	z-index: 10000;
}

#searchbox{
	position: relative;
}
.search-div{
	border-radius: 10px;
	border: 1px solid #193965;
	padding: 8px;
	position: relative;
	z-index: 1000;
	background:white;
}

.search-div .search-title{
	font-weight: bold;
	display: inline-block;
	color:#193965;
	font-size:140%;
	padding: 4px;
	margin: 0px 6px !important;
}

.search-div .search-input {
	margin: 0px 3px 0px 0px;
	display: inline-block;
	padding: 4px;
	border: 1px solid #eee;
	font-size:130%;
	width: 60%;
	border-radius: 5px;
}

.search-div .search-button {
	border: 2px solid #193965;
	background: #193965;
	color: white;
	padding: 3px 6px;
	font-weight: normal;
	text-shadow: none;
	font-size:130%;
	margin:  0px;
}

.search-div .search-button:hover{
	border: 2px solid #193965;
	color: #193965;
	background: white;
}

.search-div .ui-widget{
	margin-top: 10px;
	text-align: center;
}
.search-div .ui-autocomplete-input{
	width: 80%;
	max-width: 40%;
	display: inline-block;
	border: 1px solid #eee !important;
	border-radius: 5px;
	
}

#results-container{
	width: 90%;
	margin:0px 3% 10px;
	padding: 0px 10px 10px;
	border: 1px solid #193965;
	border-top:none;
	border-radius: 0px 0px 10px 10px;
	z-index: 999;
	position: absolute;
	background: white;


}
#results{
	border: 1px solid #eee;
}
#results-container .eight.columns{
	width: 45%;

}

.sidebox{
	border-radius: 5px;
	border: 1px solid #193965;
	padding: 5px;
	margin-bottom:10px;
}

.sidebox h3{
	margin-top: 0px;
}
.sidebox img{
	
	max-width: 100%;
}


.smallp{
	margin-bottom: 0.3em;
}
footer {
	padding: 10px 5px;
}
.datasets{
	text-align: center;
}
.datasets li{
	margin: 4px;
	display: inline-block;
}

.datasets li img {
	max-height: 40px;
	max-width: 150px;
}

@media only screen and (max-width: 767px) {
	#results-container .eight.columns,
	#featured-result{
		width: 100%;
	}
}

.code{
	overflow-x: scroll;
}

.feedback_enq{
	width: 85%;
	border: 1px solid #193965;
	padding: 5px;
	border-radius: 5px;
	margin: 15px auto 4px;
	clear: both;
}

ol.faq{
	margin: 0px 0px 20px 40px;
}

.extralinks{
	float: right;
	clear:right;
	
	margin-top: 20px;
	margin-right: 12px;
}

.twitter {
	border: 0px;
	margin-top: 0px;
	color: #193965;
	background: url('/resources/images/twitter.png') no-repeat left center !important;
	padding: 5px 5px 5px 25px;
}
.getintouch {

	border: 0px;
	margin-top: 0px;
	color: #193965;
	background: url('/resources/images/contact.png') no-repeat left center !important;
	padding: 5px 5px 5px 27px;
}

.posters{
	width:100%;
	text-align: center;
}

.posters img.lanscape{
	max-width: 100%; width:564px;
}

.posters td, .posters h3{

	text-align: center;
}

.posters img{
	max-width: 100%; width:400px;
}


 #query{
	
}

.newsletter {
	border: 1px solid #aaa; max-width: 698px; padding:5px;
}

.newsletter p{
	padding: 0 0 7px 0;
}

.newsletter .banner{
	margin:0px 0px 5px 0px;
	padding:0px;
	line-height: 0px;
}
.newsletter .article h3{
	margin: 0px 0px 5px;
}
.newsletter .article img{
	float: left;
	padding: 0px 10px 2px 0px;
}

.newsletter .banner img{
	max-width: 100%;
}
.newsletter .stories{
	margin: 5px 0px -3px;
}

.newsletter .stories td{
	padding: 5px;
}
.newsletter ul{
	display: block;
	list-style-type: disc;
	margin: 0 0px 8px;
	padding: 0 0 0 40px;
}

.newsletter h3{
	margin-top: 20px;
}

.newsletter ul li{
	list-style-type: disc;
}

input[type="radio"]{
    vertical-align: 0px;
}

.bottomtitle{
	font-size: 60%;
	text-align:center;
	margin: 30px auto 20px;
	max-width:400px;
	width: 100%;
}


.bottomtitle h1{
	font-size: 20px;
	padding:0px;
	margin:0px;
	line-height: 22px;
}
.bottomtitle h2#subtitle{
	font-size: 14px;
	line-height: 16px;
	margin: 0px;
}


.poweredby{
	margin: 10px auto;
	max-width:212px;
}

#twitter-timeline{
	border-radius: 5px;
	border: 1px solid #193965;
	padding: 0px;
	overflow: hidden;
	margin-bottom:10px;
}

#twitter-timeline iframe{
	margin-bottom: -5px !important;
}