
.download {
	margin-top: 1em;
	margin-bottom: 1em;
}
h2 {
	margin-top: 1em;
}
h3 {
	margin-top: 1em;
}
#results {
	margin-top: 8px;
	font-size: 120%;
	max-height: 400px;
	overflow-y: scroll;
}
#featured-result {
	max-height: 400px;
	overflow-y: scroll;
}
#featured-result .description {
	margin-bottom: 1em;
}
#results .search-result { 
	border-bottom: solid 1px #333;
	background-color: #eeeeee;
	padding: 2px 8px 2px 8px;
}
.uni-logo { 
	float:right;
	clear:right;
	margin: 0 10px 10px 0;
}
dt { 
	font-weight: bold;
}
dd {
	margin-bottom: 0.5em;
}
ul.bullets li { 
	list-style: inside square;
}
ul.bullets ul { 
	font-size: 100%;
}

div#content table td {
	padding: 5px 3px;
}
div#content table th {
	padding: 5px 3px;
}
i {
	font-style: italic;
}
body {
	min-height: 101%;
}
#logos img { margin-right: 20px; margin-bottom:20px; }
